// notes component
@import './notes/notes.scss';

// styles shared by notes and calendar component
body {
    background-color: whitesmoke;

    .flex-row-center {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    .flex-row-left {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .flex-column-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-column-left {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .border-bottom {
        border-bottom: 1px solid white;
    }

    .dev-mode {
        border: 1px solid red;
    }

    .snuggle-fit {
        margin: 2%;
        padding: 2%;
    }

    .text-align-center {
        text-align: center;
    }

    #container-0 {
        width: 100%;

        #container-0-2 {
            background-color: #303030;
            width: 50%;
        }
    }
}



