// notes component
@import './notes/notes.scss';

// styles shared by notes and calendar component
body {
    background-color: whitesmoke;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;

    .flex-row-center {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    .flex-row-left {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .flex-row-right {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .flex-column-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-column-left {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .border-bottom {
        border-bottom: 1px solid white;
    }

    .dev-mode {
        border: 1px solid red;
    }

    .snuggle-fit {
        margin: 1%;
        padding: 1%;
    }

    .text-align-center {
        text-align: center;
    }

    input[type='text'], input[type='date'], input:focus {
        background-color: #303030;
        outline: none;
        border: none;
        border-bottom: 0.5px solid lightgrey;
    }   

    #container-0 {
        width: 100%;
        #container-0-2 {
            background-color: #303030;
            width: 50%;
            border-radius: 7px;
        }
    }
}



