// notes component
@import './notes/date.scss';
@import './notes/notes.scss';
@import './notes/note_form.scss';
@import './notes/active_notes.scss';
@import './notes/header.scss';


// styles shared by notes and calendar component
body {
    background-color: lightblue;
}

#container-0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
}

#container-0-1 {
    display:flex;
    justify-content: left;
    width: 40em;
    border: 1px solid black;
}

#container-0-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
}

button {
    background-color: lightblue;
    // border-radius: 50%;
    border: none;
}

button:focus {
    outline-color: lightcoral;
    outline-width: 0.01em;
    outline-style: solid;
}

input[type='text'] {
    font-size: 0.5em;
    width: 15em;
}



