body {
    background-color: lightblue;
}

#container-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    padding: 5%;
}

#container-0-1 {
    width: 20em;
    border: 1px solid white;
}

#container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    // border: 1px solid white;
}

#container-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#container-2 {
    width: 40em;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

#container-2-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1%;
    border-bottom: 1px solid white;
    margin: 1%;
}

#year {
    margin-right: 60%;
}

#title {
    font-size: 1em;
}


#date {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    border-bottom: 1px solid white;
    margin: 1%;
}

#calendar {
    padding: 5%;
    font-size: 1.5em;
}

#months {
    margin: 2%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

#calendar {
    display: flex;
    justify-content: center;
}
#calendar-table {
    text-align: center;
}

button {
    background-color: lightblue;
    // border-radius: 50%;
    border: none;
}

button:focus {
    outline-color: lightcoral;
    outline-width: 0.01em;
    outline-style: solid;
}

input {
    font-size: 1em;
}

#submit-button {
    margin-left: 3%;
}

#notes-form {
    margin: 2.5%;
    // border-bottom: 1px solid white;
    padding: 3%;
}

#notes {
    display: flex;   
    flex-direction: column;
    margin: 4%;
    padding: 3%;
    border-bottom: 1px solid white;
}

#task {
    font-size: 1em;
    display: flex;
    justify-content: left;
}

input[type="checkbox"] {
    margin-top: 0%;
    padding: 0%;
    margin-left: 25%;
}



