body {
    background-color: lightblue;
}

#container-0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
    padding: 5%;
}

#container-0-1 {
    padding: 10%;
    border: 1px solid white;
}

#container-1 {
    display: flex;
    justify-content: left;
    padding: 3%;
    // border-bottom: 1px solid white;
    border: 1px solid white;
}

#container-2 {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 5%;
}

#container-2-1 {
    display: flex;
    flex-direction: row;
}

#year {
    // padding: 5%;
}

#calendar {
    padding: 5%;
    // margin-left: 30%;
    font-size: 1.5em;
}

#months {
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

