#notes {
    display: flex;   
    flex-direction: column;
    margin: 4%;
    padding: 3%;
    border-bottom: 1px solid white;
}

.task {
    font-size: 1em;
    display: flex;
    justify-content: left;
}

.incomplete {
    color: lightseagreen;
    text-decoration: line-through;
}


input[type="checkbox"] {
    margin-top: 0%;
    padding: 0%;
    margin-left: 25%;
}