#date-rendering {
    color: rgba(255, 0, 0, 0.664);
}

#notes-form {
    width: 100%;

    input[type='text'], input[type='date'] {
        color: lightgrey;
    }
}

#active-notes {
    input[type='text'], input:focus {
        background-color: lightgrey;
        // color: #F7CC00;
        color: lightseagreen;
    }

    .note {
        background-color: lightgrey;
        border-radius: 7px;
    }

    .due-another-day {
        background-color: lightseagreen;

        input[type='text'] {
            color: white;
            background-color: lightseagreen;
        }
    }

    .due-in-3-days {
        background-color: crimson;

        input[type='text'] {
            color: white;
            background-color: crimson;
        }
    }
}

.complete {
    color: #14f3af;
    text-decoration: line-through;
}