#notes-form {
    border: 1px solid white;
    width: 100%;
}

#form {
    display:flex;
    justify-content: center;
}

#note_field {
    padding: 0%;
    margin: 1%;
}

#date_field {
    padding: 0%;
    margin: 1%;
}

#submit_button {
    padding: 0%;
    margin: 1%;
}