#date-rendering {
    color: rgba(255, 0, 0, 0.664);
}

#notes-form {
    width: 100%;

    input[type='text'], input[type='date'] {
        color: lightgrey;
    }
}

#active-notes {
    input[type='text'], input:focus {
        color: #F7CC00;
    }
}

.complete {
    color: #14f3af;
    text-decoration: line-through;
}