#container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    margin-bottom: 1%;
    padding: 0%;
    // border: 1px solid white;
    text-align: center;
}