#date-rendering {
    color: rgba(255, 0, 0, 0.664);
}

#notes-form {
    width: 100%;
    margin-top: 4%;

    input[type='text'], input[type='date'] {
        color: lightgrey;
    }
}

#active-notes {
    input[type='text'], input:focus  {
        // background-color: lightgrey;
        margin-left: 7%;
        // width: 42vw;
        color: #F7CC00;
        font-size: 0.7em;
        font-family: 'Courier New', Courier, monospace;
        border: none;
    }

    .note {
        width: fit-content;
        margin: 3%;
        border-left: 3px solid crimson;
    }

    .due-another-day {
        background-color: lightseagreen;
        border-radius: 7px;

        input[type='text'] {
            color: white;
            background-color: lightseagreen;
        }
    }

    .due-in-3-days {
        background-color: crimson;

        input[type='text'] {
            color: white;
            background-color: crimson;
        }
    }

    .checkbox:checked {
        background-color: lightseagreen;
    }
}

.complete {
    color: #14f3af;
    // font-size: 0.7em;
    text-decoration: line-through;
    // width: 60vw;
    // margin-left: 3%;
    border-left: 3px solid crimson;  
    .note-name {
        margin-left: 1%;
    }
    .complete-note-actions {
        width: fit-content;
        // margin-left: 36.55vw;
    }    
}

.delete-note {
    // background-color: #303030;
    color: crimson;
    border: none;
    margin-left: 10%;
}
.weekdate {
    color: #2888a5;
}

.weekdate:hover {
    text-decoration: underline;
}

.weekday {
    color: #ebc342;
}

#download {
    color: #ebc342;
    padding: 1.5%;
}

#download:hover {
    border: 0.5px solid lightcyan;
    border-radius: 7px;
}

input[type='submit'] {
    padding: 0%;
    border: none;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    font-size: 10px;
    background-color: #ebc342;
    color: white;
    position: absolute;
    z-index: 1;
}

.notes-card {
    // background-color: #303030;
}