#container-2-1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1%;
    border-bottom: 1px solid white;
    margin: 1%;
}

#year {
    margin-right: 60%;
}

#title {
    font-size: 1em;
}